@charset "utf-8";

.cssLoader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    list-style: none;
    z-index: 9999;
}
.csscssload-load-frame {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 49px;
    height: 49px;
    margin: auto;
    display: flex;
    display: -o-box;
    display: -ms-box;
    display: -webkit-box;
    display: -moz-box;
    display: flex;
    display: -o-flex;
    display: -ms-flex;
    display: -webkit-flex;
    display: -moz-flex;
    flex-flow: row wrap;
    -o-flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    -moz-flex-flow: row wrap;
}
.csscssload-load-frame .cssload-dot {
    width: 10px;
    height: 10px;
}
.csscssload-load-frame .cssload-dot:nth-child(1) {
    background: rgb(32, 223, 214);
    animation: cssload-load 1.16s linear -0.39s infinite alternate;
    -o-animation: cssload-load 1.16s linear -0.39s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -0.39s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -0.39s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -0.39s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(2) {
    background: rgb(32, 223, 220);
    animation: cssload-load 1.16s linear -0.77s infinite alternate;
    -o-animation: cssload-load 1.16s linear -0.77s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -0.77s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -0.77s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -0.77s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(3) {
    background: rgb(32, 220, 223);
    animation: cssload-load 1.16s linear -1.16s infinite alternate;
    -o-animation: cssload-load 1.16s linear -1.16s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -1.16s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -1.16s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -1.16s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(4) {
    background: rgb(32, 214, 223);
    animation: cssload-load 1.16s linear -1.54s infinite alternate;
    -o-animation: cssload-load 1.16s linear -1.54s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -1.54s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -1.54s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -1.54s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(5) {
    background: rgb(32, 207, 223);
    animation: cssload-load 1.16s linear -1.93s infinite alternate;
    -o-animation: cssload-load 1.16s linear -1.93s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -1.93s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -1.93s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -1.93s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(6) {
    background: rgb(32, 201, 223);
    animation: cssload-load 1.16s linear -2.31s infinite alternate;
    -o-animation: cssload-load 1.16s linear -2.31s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -2.31s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -2.31s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -2.31s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(7) {
    background: rgb(32, 194, 223);
    animation: cssload-load 1.16s linear -2.7s infinite alternate;
    -o-animation: cssload-load 1.16s linear -2.7s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -2.7s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -2.7s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -2.7s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(8) {
    background: rgb(32, 188, 223);
    animation: cssload-load 1.16s linear -3.08s infinite alternate;
    -o-animation: cssload-load 1.16s linear -3.08s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -3.08s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -3.08s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -3.08s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(9) {
    background: rgb(32, 182, 223);
    animation: cssload-load 1.16s linear -3.47s infinite alternate;
    -o-animation: cssload-load 1.16s linear -3.47s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -3.47s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -3.47s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -3.47s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(10) {
    background: rgb(32, 175, 223);
    animation: cssload-load 1.16s linear -3.85s infinite alternate;
    -o-animation: cssload-load 1.16s linear -3.85s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -3.85s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -3.85s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -3.85s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(11) {
    background: rgb(32, 169, 223);
    animation: cssload-load 1.16s linear -4.24s infinite alternate;
    -o-animation: cssload-load 1.16s linear -4.24s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -4.24s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -4.24s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -4.24s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(12) {
    background: rgb(32, 163, 223);
    animation: cssload-load 1.16s linear -4.62s infinite alternate;
    -o-animation: cssload-load 1.16s linear -4.62s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -4.62s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -4.62s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -4.62s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(13) {
    background: rgb(32, 156, 223);
    animation: cssload-load 1.16s linear -5.01s infinite alternate;
    -o-animation: cssload-load 1.16s linear -5.01s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -5.01s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -5.01s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -5.01s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(14) {
    background: rgb(32, 150, 223);
    animation: cssload-load 1.16s linear -5.39s infinite alternate;
    -o-animation: cssload-load 1.16s linear -5.39s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -5.39s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -5.39s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -5.39s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(15) {
    background: rgb(32, 143, 223);
    animation: cssload-load 1.16s linear -5.78s infinite alternate;
    -o-animation: cssload-load 1.16s linear -5.78s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -5.78s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -5.78s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -5.78s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(16) {
    background: rgb(32, 137, 223);
    animation: cssload-load 1.16s linear -6.16s infinite alternate;
    -o-animation: cssload-load 1.16s linear -6.16s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -6.16s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -6.16s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -6.16s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(17) {
    background: #2083df;
    animation: cssload-load 1.16s linear -6.55s infinite alternate;
    -o-animation: cssload-load 1.16s linear -6.55s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -6.55s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -6.55s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -6.55s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(18) {
    background: #207cdf;
    animation: cssload-load 1.16s linear -6.93s infinite alternate;
    -o-animation: cssload-load 1.16s linear -6.93s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -6.93s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -6.93s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -6.93s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(19) {
    background: #2076df;
    animation: cssload-load 1.16s linear -7.32s infinite alternate;
    -o-animation: cssload-load 1.16s linear -7.32s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -7.32s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -7.32s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -7.32s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(20) {
    background: #2070df;
    animation: cssload-load 1.16s linear -7.7s infinite alternate;
    -o-animation: cssload-load 1.16s linear -7.7s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -7.7s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -7.7s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -7.7s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(21) {
    background: #2069df;
    animation: cssload-load 1.16s linear -8.09s infinite alternate;
    -o-animation: cssload-load 1.16s linear -8.09s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -8.09s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -8.09s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -8.09s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(22) {
    background: #2063df;
    animation: cssload-load 1.16s linear -8.47s infinite alternate;
    -o-animation: cssload-load 1.16s linear -8.47s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -8.47s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -8.47s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -8.47s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(23) {
    background: #205cdf;
    animation: cssload-load 1.16s linear -8.86s infinite alternate;
    -o-animation: cssload-load 1.16s linear -8.86s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -8.86s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -8.86s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -8.86s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(24) {
    background: #2056df;
    animation: cssload-load 1.16s linear -9.24s infinite alternate;
    -o-animation: cssload-load 1.16s linear -9.24s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -9.24s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -9.24s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -9.24s infinite alternate;
}
.csscssload-load-frame .cssload-dot:nth-child(25) {
    background: #2050df;
    animation: cssload-load 1.16s linear -9.63s infinite alternate;
    -o-animation: cssload-load 1.16s linear -9.63s infinite alternate;
    -ms-animation: cssload-load 1.16s linear -9.63s infinite alternate;
    -webkit-animation: cssload-load 1.16s linear -9.63s infinite alternate;
    -moz-animation: cssload-load 1.16s linear -9.63s infinite alternate;
}
@keyframes cssload-load {
    100% {
        opacity: 0;
        transform: scale(0.5);
    }
}
@-o-keyframes cssload-load {
    100% {
        opacity: 0;
        -o-transform: scale(0.5);
    }
}
@-ms-keyframes cssload-load {
    100% {
        opacity: 0;
        -ms-transform: scale(0.5);
    }
}
@-webkit-keyframes cssload-load {
    100% {
        opacity: 0;
        -webkit-transform: scale(0.5);
    }
}
@-moz-keyframes cssload-load {
    100% {
        opacity: 0;
        -moz-transform: scale(0.5);
    }
}
.loader {
    width: 100vw;
    height: 100vh;
    position: fixed;
    display: block;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.75);
    border: none;
    list-style: none;
    z-index: 9999;
}
.loader .bokeh {
    width: 1em;
    height: 1em;
    position: absolute;
    display: block;
    font-size: 70px;
    text-align: center;
    margin: 0px auto;
    top: 45vh;
    left: 50vw;
    margin-left: -0.5em;
    border-radius: 50%;
    /* border: .01em solid rgba(150,150,150,0.1); */
    border: none;
    list-style: none;
    z-index: 9999;
}
.loader .bokeh li {
    position: absolute;
    width: .2em;
    height: .2em;
    border-radius: 50%;
}
.loader .bokeh li:nth-child(1) {
    left: 50%;
    top: 0;
    margin: 0 0 0 -.1em;
    background: #15BDFA;
    -webkit-transform-origin: 50% 250%;
    transform-origin: 50% 250%;
    -webkit-animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
    animation: rota 1.13s linear infinite, opa 3.67s ease-in-out infinite alternate;
}
.loader .bokeh li:nth-child(2) {
    top: 50%;
    right: 0;
    margin: -.1em 0 0 0;
    background: #FFCE54;
    -webkit-transform-origin: -150% 50%;
    transform-origin: -150% 50%;
    -webkit-animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
    animation: rota 1.86s linear infinite, opa 4.29s ease-in-out infinite alternate;
}
.loader .bokeh li:nth-child(3) {
    left: 50%;
    bottom: 0;
    margin: 0 0 0 -.1em;
    background: #DE73F8;
    -webkit-transform-origin: 50% -150%;
    transform-origin: 50% -150%;
    -webkit-animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
    animation: rota 1.45s linear infinite, opa 5.12s ease-in-out infinite alternate;
}
.loader .bokeh li:nth-child(4) {
    top: 50%;
    left: 0;
    margin: -.1em 0 0 0;
    background: #F4606F;
    -webkit-transform-origin: 250% 50%;
    transform-origin: 250% 50%;
    -webkit-animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
    animation: rota 1.72s linear infinite, opa 5.25s ease-in-out infinite alternate;
}
@-webkit-keyframes rota {
    from {}
    to {
        -webkit-transform: rotate(360deg);
    }
}
@keyframes rota {
    from {}
    to {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@-webkit-keyframes opa {
    0% {}
    12.0% {
        opacity: 0.99;
    }
    19.5% {
        opacity: 0.88;
    }
    37.2% {
        opacity: 0.77;
    }
    40.5% {
        opacity: 0.73;
    }
    52.7% {
        opacity: 0.77;
    }
    60.2% {
        opacity: 0.80;
    }
    66.6% {
        opacity: 0.83;
    }
    70.0% {
        opacity: 0.88;
    }
    79.9% {
        opacity: 0.70;
    }
    84.2% {
        opacity: 0.77;
    }
    91.0% {
        opacity: 0.88;
    }
}
@keyframes opa {
    0% {}
    12.0% {
        opacity: 0.80;
    }
    19.5% {
        opacity: 0.77;
    }
    37.2% {
        opacity: 0.73;
    }
    40.5% {
        opacity: 0.70;
    }
    52.7% {
        opacity: 0.88;
    }
    60.2% {
        opacity: 0.83;
    }
    66.6% {
        opacity: 0.73;
    }
    70.0% {
        opacity: 0.77;
    }
    79.9% {
        opacity: 0.70;
    }
    84.2% {
        opacity: 0.88;
    }
    91.0% {
        opacity: 0.99;
    }
}
.loadingModelTop:after {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    right: 20;
    bottom: 0;
    left: 20;
}
.loadingModelTop .loadingModelTopBar {
    width: 100%;
    height: rem-calc(4);
    position: relative;
    margin: 0px auto;
    border-radius: rem-calc(4);
    background: rgba(255, 255, 255, 0.1);
}
.loadingModelTop .loadingModelTopBar:after {
    position: absolute;
    right: 25%;
    top: 150%;
}
.loadingModelTop .loadingModelTopBar .loadingModelTopBarSphere {
    border-radius: rem-calc(4);
    width: rem-calc(100);
    height: 100%;
    background-color: #FFE514;
    box-shadow: 0 0 2em rgba(255, 231, 0, 0.85);
    -webkit-box-shadow: 0 0 2em rgba(255, 231, 0, 0.85);
    -moz-box-shadow: 0 0 2em rgba(255, 231, 0, 0.85);
    display: block;
    position: relative;
    right: 0%;
    -webkit-animation: loadingModelTopAni 3.15s ease-in-out infinite alternate;
    animation: loadingModelTopAni 3.15s ease-in-out infinite alternate;
}
.loadingModelTopBarSphere {
}
@-webkit-keyframes loadingModelTopAni {
    from {
        margin-right: 10%;
    }
    to {
        margin-right: 85%;
    }
}
@keyframes loadingModelTopAni {
    from {
        margin-right: 10%;
    }
    to {
        margin-right: 85%;
    }
}


